html {background: #051a00; background-color: #051a00; background-image: url('background.png'); background-size: 100%; cursor: default; font-family:'Orbitron'; filter: hue-rotate(30deg); transition: filter 3s ease;}

h1 {color: lime; text-shadow: 0 0 5px lime, 0 0 10px lime, 0 0 15px lime; padding-top: 50px;}
h2 {color: lime; text-shadow: 0 0 5px lime, 0 0 10px lime, 0 0 15px lime;}
p {color: #e7e7e7e7;}
hr {box-shadow: 0px 0px 5px lime; background: linear-gradient(to right, transparent, lime, transparent); border: none; height: 1px; animation: pulse 2s infinite;}

@keyframes pulse {
    0%, 100% { box-shadow: 0 0 5px lime; }
    50% { box-shadow: 0 0 15px lime; }
}

.dropbtn {background-color: black;
          color: white;
          padding: 7px;
          font-size: 16px;
          font-weight: bold;
          border-radius: 0px;
          box-shadow: 0px 2px 5px lime, -2px 0px 5px yellow;
          transition: background-color 0.3s, box-shadow 0.3s;
          border: outset 2px yellowgreen;}

.dropdown {position: relative;
           display: inline-block;
           cursor: default;}

.dropdown-content {display: none;
                   position: absolute;
                   top: 35px;
                   background-color: black;
                   min-width: 100px;
                   box-shadow: 0px 2px 5px lime, -2px 0px 5px yellow;
                   z-index: 1;}

.dropdown-content a {color: white;
                     padding: 1px 1px;
                     font-size: 15px;
                     font-weight: bold;
                     text-decoration: none;
                     border: solid 1px yellowgreen;
                     box-shadow: 0px 2px 5px lime, -2px 0px 5px yellow;
                     display: block;
                     transition: background-color 0.3s, box-shadow 0.3s;}

.dropdown-content a:hover {background-color: green;
                           color: white;
                           box-shadow: 0px 2px 5px white, -2px 0px 5px white;
                           transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: green;
                          color: white;
                          box-shadow: 0px 2px 5px white, -2px 0px 5px white;
                          transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;}

button {position: relative;
        background-color: black;
        color: white;
        border: outset 2px yellowgreen;
        border-radius: 25px;
        box-shadow: 0px 2px 5px lime, -2px 0px 5px yellow;
        padding: 9px;
        font-size: 15px;
        font-weight: bold;
        transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
        cursor: pointer;}

button:hover {background-color: yellowgreen;
              box-shadow: 0px 2px 5px black, -2px 0px 5px black;
              transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
              color: black;}

a {color: blue; text-decoration: none; transition: color 1s;}

a:hover {color: lime; transition: color 1s;}
a:active {color: green;}

/* Estilização de elementos/páginas extras */