html {background: #c2eea9e7; background-image: url('background2.png'); cursor: default; font-family:'Orbitron'; filter: hue-rotate(30deg);}

h1 {color: green;}
h2 {color: green;}
hr {box-shadow: 0px 0px 5px yellowgreen;}

a {color: blue; text-decoration: none; transition: color 0.3s;}

a:hover {color: green; transition: color 0.3s;}
a:active {color: green;}

/* Estilização de elementos/páginas extras */